$color-black: #000000;
$color-white: #ffffff;
$color-grey: rgba(255, 255, 255, 0.7);
// $opacity: 0.8;

$font-xl: 20px;
$font-l: 16px;
$font-m: 14px;
$font-s: 12px;

$margin-left: 20px;
$margin-bottom: 40px;

$height-basic: 40px;
$height-second: 25px;
$height-article: 160px;
$width-centr-block: 560px;

$font-basic: "HelveticaNeueCyr", Helvetica, Arial, sans-serif;
$font-second: "Helvetica Neue OTS", Helvetica, Arial, sans-serif;

$box-sizing: border-box;
