.button {
  border-radius: 3px;
  background-color: $color-white;
  color: $color-black;
  padding: 0;
  box-sizing: $box-sizing;
  font-weight: 400;
  &_place_header {
    height: $height-basic;
    width: 105px;
  }
  &_place_buttons {
    height: $height-basic + 10px;
    width: 260px;
    font-size: $font-xl;
  }
  &_place_articles{
    height: $height-basic;
    width: 260px;
    background-color: $color-black;
    color: $color-grey;
    border: 1px solid $color-grey;
    box-sizing: $box-sizing;
  }
}
