.article {
  width: 400px;
  height: $height-basic * 4;
  border: 2px solid $color-white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__title {
    font-family: $font-basic;
    font-size: $font-l;
    font-weight: 700;
    line-height: 1.4;
    width: 280px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
  }
  &__comment {
    font-family: $font-second;
    font-size: $font-m;
    color: $color-grey;
    width: 100%;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__remark {
    margin: 0;
    font-family: $font-second;
    line-height: 1.25;
    color: $color-grey;
    font-size: $font-s;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid $color-grey;
    border-radius: 2px;
    // background-color: rgba(255, 255, 255, 0.3);
    width: 70px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0.8;
  }
  &__elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__thematics {
    display: flex;
    padding: 0;
    margin: 0;
  }
  &__thematic-item {
    list-style: none;
    padding: 0 1px;
    border: 1px solid $color-grey;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    margin-left: $margin-left;
    &:first-of-type {
      margin-left: 0px;
    }
  }
  &__thematic {
    font-family: $font-second;
    margin: 0;
    font-size: $font-m;
    font-weight: 400;
    color: $color-grey;
    line-height: 1.2;
  }
  &__control {
    display: flex;
  }
  &__icon {
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    &_type_like {
      background-image: url("/src/images/icon-like.svg");
      width: 29px;
      opacity: 0.8;
    }
    &_type_edit {
      background-image: url("/src/images/icon-edit.svg");
      margin-left: $margin-left;
      width: 25px;
    }
    &_type_delete {
      background-image: url("/src/images/icon-delete.svg");
      margin-left: $margin-left;
      width: 20px;
    }
  }
}
