.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $color-grey;
  padding-top: 40px;
  align-items: baseline;

  &__title {
    font-family: $font-second;
    font-weight: 400;
    font-size: $font-s;
    line-height: 1.2;
    letter-spacing: 0.02;
    margin: 0;
  }
  &__author {
    font-family: $font-second;
    font-size: $font-s;
    font-weight: 400;
    line-height: 1.2;
  }
}
