.header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  font-family: $font-second;

  &__logo {
    width: 60px;
    height: 60px;
    background-image: url("/src/images/header-logo.svg");
  }

  &__search {
    width: 530px;
    height: $height-basic;
    border: 2px solid $color-grey;
    border-radius: 5px;
    box-sizing: $box-sizing;
    margin-left: $margin-left;
  }
}
